/* Global styles */
.slick-prev,
.slick-next {
    display: none !important;
}

.ReactCrop__crop-mask {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#__next {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-container {
    flex: 1;
    height: 100%;
    overflow-y: scroll;
}

/* Scrollbar styles */
*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-bg);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-bg);
    border-radius: 10px;
    border: 3px solid var(--scrollbar-track-bg);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover-bg);
}

/* Theme variables */
:root {
    /* Light mode colors */
    --ig-primary-background: 255, 255, 255;
    --ig-primary-text: 0, 0, 0;
    --ig-secondary-text: 142, 142, 142;
    --ig-primary-button: 0, 149, 246;

    --scrollbar-track-bg: #fafafa;
    --scrollbar-thumb-bg: #c1c1c1;
    --scrollbar-thumb-hover-bg: #a0a0a0;

    /* Font settings */
    --font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    --system-14-font-size: 14px;
    --system-14-line-height: 18px;

    /* Dark mode colors */
    --ig-dark-background: 0, 0, 0;
    --ig-primary-text-light: 255, 255, 255;
}


.light {
    background-color: rgb(var(--ig-primary-background));
    color: rgb(var(--ig-primary-text));
    font-family: var(--font-family-system);
    font-size: var(--system-14-font-size);
    line-height: var(--system-14-line-height);
    margin: 0;

    --scrollbar-track-bg: #fafafa;
    --scrollbar-thumb-bg: #c1c1c1;
    --scrollbar-thumb-hover-bg: #a0a0a0;
}

.dark {
    background-color: rgb(var(--ig-dark-background));
    color: rgb(var(--ig-primary-text-light));
    font-family: var(--font-family-system);
    font-size: var(--system-14-font-size);
    line-height: var(--system-14-line-height);
    margin: 0;

    --scrollbar-track-bg: #333;
    --scrollbar-thumb-bg: #555;
    --scrollbar-thumb-hover-bg: #777;
}